*{
	box-sizing: border-box;
}

body{
	padding: 20px;	
}

header{
	margin-bottom: 20px;
	background: cyan;
	height: 100px;
	
}

main{
	
}

.row{
	margin: 0 -10px;
}

.row:after{
	content: "" ;
	display: table;
	clear: both;
}
	

.grid-item{
	position: relative;
	float: left;
	width: calc(100%/3);
	height: 265px;
	padding: 0 10px;
	margin-bottom: 20px;
	display: block;
}

@media screen and (max-width: 768px){
	.grid-item{
		width: calc(100%/2);
	}
}

@media screen and (max-width: 576px){
	.grid-item{
		width: 100%;
	}
}

.item{
	background: cyan;
	height: 100%;
	padding: 10px;
}

footer{
	height: 65px;
	background: cyan;
}